.title,
.logo {
    font-weight: 800;
}

.logo {
    font-size: 80px;
}

header,
nav {
    display: flex;
    align-items: center;
}

header {
    padding-top: 10px;
    flex-direction: column;
}

nav {
    flex-direction: row;
}

nav button {
    font-family: var(--font);
    font-weight: 400;
    font-size: 22px;
    border: 2px solid;
    border-radius: var(--general-border-radius);
    margin-bottom: 4px;
    padding: 6px 24px;
}

nav > button:first-of-type {
border-bottom-right-radius: 0;
border-top-right-radius: 0;
}
nav > button:nth-of-type(2) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    }

nav button text {
    padding: 40px;
}

nav button.selected {
    width: 100%;
    font-weight: 500;
}


nav button:hover {
    cursor: pointer;
}

